<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie - BetterDuolingo</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <div class="navbar">
        <div class="logo">
            <img src="/images/italian-flag.svg" alt="Flaga Włoch">
            <h2>BetterDuolingo</h2>
        </div>
    </div>
</header>
<div class="container">
    <div class="form-container">
        <h1>Zaloguj się</h1>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="username">Nazwa użytkownika:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Hasło:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Zaloguj się</button>ss
        </form>
        <p>Nie masz konta? <a href="/register">Zarejestruj się</a></p>
    </div>
</div>
</body>
</html>
